extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        br
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | Welcome to cric_venues , your premier destination for hassle-free cricket match ticket booking at top venues! We're thrilled to bring you an effortless way to secure your spot at the most exciting cricket matches.
        | <br /><br />
        | Our Mission
        | <br /><br />
        | At cric_venues, we're on a mission to make your cricket match experience unforgettable. We understand the thrill of being in the stadium, cheering for your favorite team, and we're dedicated to making that experience accessible to all cricket enthusiasts.
        | 
        |
      br
      img(src='images/world_cup.webp',alt='WC23',style='width: 370px; height: 200px;')
    .col-xs-12.col-sm-4
      br
      br
      img(src='images/bcci.png',alt='BCCI',style='width: 100px; height: 100px;position : absolute; top:380%; right: 0; transform: translateY(-50%);')

      