extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        br
        h1
          |cric venues
          small &nbsp;Find stadiums to enjoy  and experience the cricket match live!
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='/location') Wankhede Stadium 
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 35K
          p.address Churchgate, Mumbai, Maharashtra, India
          p
            span.label.label-warning Cool  drinks
            | &nbsp;
            span.label.label-warning Food
            | &nbsp;
            span.label.label-warning Room Allocation 
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location2') Rajiv Gandhi International Stadium
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 55K
          p.address Uppal, Hyderabad, Telangana, India
          p
            span.label.label-warning Hot drinks
            | &nbsp;
            span.label.label-warning Food
            | &nbsp;
            span.label.label-warning Jerseys 
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location3') M.A.Chidambaram Stadium
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 50K
          p.address Wallajah Road, Chepauk, Chennai, Tamil Nadu, India
          p
            span.label.label-warning Food
            | &nbsp;
            span.label.label-warning Rooms 
            | &nbsp;
            span.label.label-warning Drinks 
            | &nbsp;
    .col-xs-12.col-sm-4
      //img(src='images/wc23.jpg',alt='WC23',style='width: 300px; height: 200px;')
      p.lead
        br
        | Looking for seats to experience a  cricket match? cric venues helps you buy tickets to enjoy  a cricket match .