extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        br
        h1
          |sport management 
          small &nbsp;Get information about sports and check scores live!
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='/location') Cricket Stadiums  
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 55K
          p.address India,Australia,Srilanka,England,Newzealand
          p
            span.label.label-warning Cool  drinks
            | &nbsp;
            span.label.label-warning Food
            | &nbsp;
            span.label.label-warning Room Allocation 
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location2') Football Stadiums
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 35K
          p.address Brazil,France,India,Portugal 
          p
            span.label.label-warning Hot drinks
            | &nbsp;
            span.label.label-warning Food
            | &nbsp;
            span.label.label-warning Jerseys 
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/location3') Kabaddi Stadiums 
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 10K
          p.address India,Iran,Korea
          p
            span.label.label-warning Food
            | &nbsp;
            span.label.label-warning Rooms 
            | &nbsp;
            span.label.label-warning Drinks 
            | &nbsp;
    .col-xs-12.col-sm-4
      //img(src='images/wc23.jpg',alt='WC23',style='width: 300px; height: 200px;')
      p.lead
        br
        | Looking for seats to experience sport, sport management app helps you to book tickets of your favourite sport.