extends layout
block content 
 .container 
  br
  br
  br
  h1 Login & book Tickets
  p.lead 
   form(role='form', action='/', method='post') 
    .form-group 
     label(for='username') Username
     input.form-control(type='text', id='user', name='username', placeholder='enter a username')
    .form-group 
     label(for='password')  Password
     input.form-control(type='password', id='password', name='password', placeholder='enter a password')
    .form-group 
     label(for='tickets') Select Tickets
     input.form-control(type='text', id='user', name='Enter number of tickets', placeholder='enter number of tickets')
    .form-group
          label.col-xs-10.col-sm-2.control-label(for="rating") Choose sport
          .col-xs-12.col-sm-2
            select#rating.form-control.input-sm(name="Stadium")
              option Cricket 
              option Football
              option Kabaddi 
    br
    br
    button.btn.btn-primary(type='submit' ) Submit
    &nbsp;
    a.btn.btn-default(role='button', href='/') Cancel